.navbar {
    background: #c971a0;
  }
  .navbar-light .navbar-brand {
    color: white;
  }
  .navbar-light .navbar-nav .nav-link {
    color: white;
  }
  .navbar-light .navbar-toggler {
    color: white;
  }
  .navbar-light .navbar-nav .nav-link.active {
    color: white;
  }
  .navbar-light .navbar-brand:hover {
    color: #333333;
  }
  .navbar-light .navbar-nav .nav-link:hover {
    color: #333333;
  }
  .navbar-light .navbar-toggler:hover {
    color: #333333;
  }
  .navbar-light .navbar-nav .nav-link.active:hover {
    color: #333333;
  }
  .container {
    margin-top: 80px;
  }
  .navbar-light .navbar-nav .nav-link{
    color: white;
  }
  body {
    font-family: 'Quicksand', sans-serif;
    height: 100%;
    line-height: 1.5;
    user-select: none;
    background: #ffffff;
    color: #333333;
    font-family: pokemon;
  }
  p {
    text-align: center;
    font-size: 0.75em;
  }
  @font-face {
    font-family: pokemon;
    src: url(pokemon.ttf);
  }
  .material-icons {
    vertical-align: text-bottom;
  }
  .dropdown-item {
    font-size: 0.65em;
    text-align: center;
    padding: 0;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }
  .dropdown-item:hover {
    background: #c8c8c8;
  }
  .dropdown-item:focus {
    background: #FF5F58;
    color: white;
  }
  .form-control {
    background: #ffffff;
    color: #594c8c;
    border-radius: 25px;
  }
  .form-control:focus {
    box-shadow: none;
  }
  .img-thumbnail {
    background: white;
    border: 1px solid #301710;
  }
  .navbar-light .navbar-toggler {
      border: none;
  }
  .types {
    border-radius: 5px;
    color: white;
    width: 100%;
    float: left;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    text-align: center;
    border: 1px solid #333333;
  }
  .typesdrop {
    border-radius: 5px;
    color: white;
    width: 85%;
    margin-left: 7.5%;
    margin-right: 7.5%;
    margin-bottom: 5px;
    float: left;
    text-align: center;
    border: 1px solid #333333;
  }
  .name {
    font-family: Raleway;
    font-size: 1.5em;
    margin: 0.25em;
  }
  .all {
    background: #333333;
  }
  .grass {
    background: #9bcc50;
  }
  .poison {
    background: #b97fc9;
  }
  .fire {
    background: #fd7d24;
  }
  .flying {
    background: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
  }
  .water {
    background: #4592c4;
  }
  .bug {
    background: #729f3f;
  }
  .normal {
    background: #a4acaf;
  }
  .electric {
    background: #eed535;
  }
  .ground {
    background: linear-gradient(180deg, #eed535 50%, #ab9842 50%);
  }
  .fairy {
    background: #fdb9e9;
  }
  .fighting {
    background: #d56723;
  }
  .psychic {
    background: #f366b9;
  }
  .rock {
    background: #a38c21;
  }
  .steel {
    background: #9eb7b8;
  }
  .ice {
    background: #51c4e7;
  }
  .ghost {
    background: #7b62a3;
  }
  .dragon {
    background: linear-gradient(180deg, #53a4cf 50%, #f15f5a 50%);
  }
  .dark {
    background: #707070;
  }
  .top:hover {
    cursor: pointer;
    box-shadow: 5px 5px 5px #333333;
  }
  .typesin {
    border-radius: 5px;
    color: white;
    width: 100%;
    float: left;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    text-align: center;
    border: 1px solid #333333;
  }
  .pinfo {
    font-size: 0.875em;
    margin-top: 80px;
    margin-bottom: 20px;
  }
  .evol {
    border: 1px solid black;
    border-radius: 5px;
  }
  .desc {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5em;
  }
  /* #pokeball {
    background: linear-gradient(180deg, #f15f5a 50%, #333333 50%);
  }
  #greatball {
    background: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
  }
  #ultraball {
    background: linear-gradient(180deg, #ebc266 50%, #333333 50%);
  }
  #masterball {
    background: linear-gradient(180deg, #c971a0 50%, #594c8c 50%);
  }
  #premierball {
    background: linear-gradient(180deg, white 50%, #f15f5a 50%);
  } */