.navbar {
  background: #333333;
}
.navbar-light .navbar-brand {
  color: white;
}
.navbar-light .navbar-nav .nav-link {
  color: white;
}
.navbar-light .navbar-toggler {
  color: white;
}
.navbar-light .navbar-nav .nav-link.active {
  color: white;
}
.navbar-light .navbar-brand:hover {
  color: #c8c8c8;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: #c8c8c8;
}
.navbar-light .navbar-toggler:hover {
  color: #c8c8c8;
}
.navbar-light .navbar-nav .nav-link.active:hover {
  color: #c8c8c8;
}
.container {
  margin-top: 80px;
}
.navbar-light .navbar-nav .nav-link{
  color: white;
}
body {
  height: 100%;
  font-family: pokemon;
  line-height: 1.5;
  user-select: none;
  background: white;
  color: #333333;
}
p {
  text-align: center;
  font-size: 0.75em;
}
@font-face {
  font-family: pokemon;
  src: url(pokemon.ttf);
}
.material-icons {
  vertical-align: text-bottom;
}
.dropdown-item {
  font-size: 0.65em;
  text-align: center;
  padding: 0;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.dropdown-item:hover {
  background: #c8c8c8;
}
.dropdown-item:focus {
  background: #FF5F58;
  color: white;
}
.form-control {
  background: #ffffff;
  color: #333333;
  border-radius: 25px
}
.form-control:focus {
  box-shadow: none;
}
.img-thumbnail {
  border: none;
}
.navbar-light .navbar-toggler {
    border: none;
}
.types {
  border-radius: 20px;
  color: white;
  float: left;
  padding: 0.5em;
  text-align: center;
  border: 5px solid #ffffff;
  font-size: 0.75em;
}
.typesdrop {
  border-radius: 5px;
  color: white;
  width: 85%;
  margin-left: 7.5%;
  margin-right: 7.5%;
  margin-bottom: 5px;
  float: left;
  text-align: center;
  border: 1px solid #333333;
}
.name {
  margin-top: 10px;
  font-size: 1em;
}
h2 {
  text-align: center;
}
.all {
  background: #333333;
}
.grass {
  background: #9bcc50;
}
.poison {
  background: #b97fc9;
}
.fire {
  background: #fd7d24;
}
.flying {
  background: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
}
.water {
  background: #4592c4;
}
.bug {
  background: #729f3f;
}
.normal {
  background: #a4acaf;
}
.electric {
  background: #eed535;
}
.ground {
  background: linear-gradient(180deg, #eed535 50%, #ab9842 50%);
}
.fairy {
  background: #fdb9e9;
}
.fighting {
  background: #d56723;
}
.psychic {
  background: #f366b9;
}
.rock {
  background: #a38c21;
}
.steel {
  background: #9eb7b8;
}
.ice {
  background: #51c4e7;
}
.ghost {
  background: #7b62a3;
}
.dragon {
  background: linear-gradient(180deg, #53a4cf 50%, #f15f5a 50%);
}
.dark {
  background: #707070;
}
.col-lg-3 {
  margin-bottom: 15px;
}
.pborder {
  border: 1px solid #333333;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
}
.typesin {
  border-radius: 5px;
  color: white;
  width: 100%;
  float: left;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  text-align: center;
}
.pinfo {
  font-size: 0.875em;
  margin-top: 80px;
  margin-bottom: 20px;
}
.evol {
  border-radius: 5px;
  background: white;
}
.desc {
  font-size: 1em;
}
.row {
  align-content: center;
}
.pokemon {
  display: none;
}
.show {
  display: block;
}
.outertext {
  border: 1px solid #333333;
  border-radius: 5px;
}
.innertext {
  border: 1px solid #333333;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.hovertext:hover {
  font-size: 1em;
  cursor: pointer;
}
#oakhelp {
  display: none;
}
#oakcustom {
  display: none;
}
#oaksort {
  display: none;
}
#oaksearch {
  display: none;
}
#oakinfo {
  display: none;
}
#oakbegin {
  display: none;
}